<div class="row">
  <div class="col">
    <form #f="ngForm" (ngSubmit)="f.valid && getQuestions(selectedSpeciality)" name="form">
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">Select speciality</span>
          <select #speciality="ngModel" [(ngModel)]="selectedSpeciality" class="custom-select" name="speciality"
                  required style="max-width: 10em">
            <option *ngFor="let speciality of specialities">{{speciality}}</option>
          </select>
          <button class="btn btn-primary">Get questions</button>
        </div>
      </div>
    </form>

    <div class="input-group">
      <span class="input-group-text" style="width: 2.5em">Id</span>
      <span class="input-group-text" style="width: 4em">Type</span>
      <span class="input-group-text" style="width: 43em">Question text</span>
    </div>

    <div *ngFor="let question of questions; let i = index">

      <div class="input-group">
        <span class="form-control" style="max-width: 2.5em">{{question.id}}</span>
        <span class="form-control" style="max-width: 4.1em">{{question.type}}</span>
        <span class="form-control" style="max-width: 43.1em">{{question.text}}</span>
        <button [attr.data-target]="'#collapse' + i" class="btn btn-primary" data-toggle="collapse">Edit</button>
        <button (click)="removeQuestion(question.id)" class="btn btn-primary">X</button>
      </div>

      <div class="collapse" id="collapse{{i}}">
        <div class="card card-body">
          <app-question-create [editing]="true" [question]="question"></app-question-create>
        </div>
      </div>

    </div>

  </div>

  <div class="col">
    <button [attr.data-target]="'#newQuestion'" class="btn btn-primary" data-toggle="collapse">Add new question
    </button>
    <div class="collapse" id="newQuestion">
      <app-question-create class="card card-body"></app-question-create>
    </div>
  </div>
</div>

