<app-header></app-header>
<div class="jumbotron">
  <h1 class="display-4">Test</h1>
  <p class="lead">Questions</p>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
  <form name="form" (ngSubmit)="f.valid && submitAnswers()" #f="ngForm">
<div *ngFor="let question of questions; index as i" class="card card-body">

  {{question.text}}

  <div *ngIf="question.type === 'free'">

    <div class="input-group">
    <textarea type="text" class="form-control" style="max-width: 35em" name="text" [(ngModel)]="answers[i].studentAnswer"></textarea>
    </div>

  </div>

  <div *ngIf="question.type === 'radio'">

    <div *ngFor="let answer of question.answers">

      <div class="input-group">
        <div class="input-group-text">
      <input type="radio" name="{{i}}" [(ngModel)]="answers[i].studentAnswer" [value]="answer">
        </div>
        <span class="form-control" style="max-width: 30em">{{answer}}</span>
      </div>

    </div>


  </div>


</div>

    <button *ngIf="!confirm" type="button" class="btn btn-primary" (click)="confirm=true">Submit</button>
    <div *ngIf="confirm">
      <span class="alert alert-info">Are you sure?</span>
      <button type="button" class="btn btn-primary" (click)="confirm=false" >No</button>
      <button type="button" class="btn btn-primary" (click)="submitAnswers()" >Yes</button>
    </div>
  </form>



</div>
<div class="col">
  <div class="card card-body" style="max-width: 15em">
  <span class="input-group-lg input-group-text alert-danger">Time left {{testTime.mins}}:{{testTime.secs}}</span>
  </div>
</div>
</div>
</div>
