<footer class="page-footer font-small mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <p class="text-muted">NetCracker 2019<br>Our company is a provider of business support system (BSS), operations
          support systems (OSS) and software-defined networking (SDN) and network functions virtualization (NFV)
          solutions.
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Contact</h4>
        <a href="https://twitter.com/NetCrackerTech">
          <fa-icon [icon]="faTwitter" size="md" style="text-align: center;padding: 10px;"></fa-icon>
        </a>
        <a href="https://www.facebook.com/NetCrackerTech">
          <fa-icon [icon]="faFacebook" size="md" style="text-align: center;padding: 10px;"></fa-icon>
        </a>
        <a href="https://www.youtube.com/channel/UCToK8hRc52z38_cIQ_fK-GQ">
          <fa-icon [icon]="faYoutube" size="md" style="text-align: center;padding: 10px;"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
