<app-header></app-header>

<div class="jumbotron">
  <h1 class="display-4">Add a new enrollment</h1>
</div>

<div class="col-sm-6">

 <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

   <div class="form-group">
   <div *ngIf="f.form.valid && f.submitted" class="input-group-text alert-success">Submitted</div>
   </div>


   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em">City</span>
       <select class="custom-select" style="max-width:16em" name="city" [(ngModel)]="enrollment.city" #city="ngModel"
               required>
         <option *ngFor="let city of cities">{{city}}</option>
       </select>
       <div *ngIf="f.submitted && city.invalid">
         <div *ngIf="city.errors.required" class="input-group-text alert-danger">City is required</div>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em;">App start</span>
       <input type="text" class="form-control" style="max-width: 16em" mask="00/00/0000" placeholder="dd/mm/yyyy" [dropSpecialCharacters]="false"
              name="appStart" [(ngModel)]="enrollment.appStart" #appStart="ngModel" required minlength="10"/>
       <div *ngIf="f.submitted && appStart.invalid">
         <div *ngIf="appStart.errors.required || appStart.errors.minlength" class="input-group-text alert-danger">App start is required</div>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em;">App end</span>
       <input type="text" class="form-control" style="max-width: 16em" mask="00/00/0000" placeholder="dd/mm/yyyy" [dropSpecialCharacters]="false"
              name="appEnd" [(ngModel)]="enrollment.appEnd" #appEnd="ngModel" required minlength="10"/>
       <div *ngIf="f.submitted && appEnd.invalid">
         <div *ngIf="appEnd.errors.required || appStart.errors.minlength" class="input-group-text alert-danger">App end is required</div>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em;">Test start</span>
       <input type="text" class="form-control" style="max-width: 16em" mask="00/00/0000" placeholder="dd/mm/yyyy" [dropSpecialCharacters]="false"
              name="testStart" [(ngModel)]="enrollment.testStart" #testStart="ngModel" required minlength="10"/>
       <div *ngIf="f.submitted && testStart.invalid">
         <div *ngIf="testStart.errors.required || appStart.errors.minlength" class="input-group-text alert-danger">Test start is required</div>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em;">Test end</span>
       <input type="text" class="form-control" style="max-width: 16em" mask="00/00/0000" placeholder="dd/mm/yyyy" [dropSpecialCharacters]="false"
              name="testEnd" [(ngModel)]="enrollment.testEnd" #testEnd="ngModel" required minlength="10"/>
       <div *ngIf="f.submitted && testEnd.invalid">
         <div *ngIf="testEnd.errors.required || appStart.errors.minlength" class="input-group-text alert-danger">Test end is required</div>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em">Speciality</span>
       <select class="custom-select" style="max-width:16em" name="speciality" [(ngModel)]="enrollment.speciality" #speciality="ngModel"
               required>
         <option *ngFor="let speciality of specialities">{{speciality}}</option>
       </select>
       <div *ngIf="f.submitted && speciality.invalid">
         <div *ngIf="speciality.errors.required" class="input-group-text alert-danger">Speciality is required</div>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em;">Number of questions in test</span>
       <input type="text" class="form-control" style="max-width: 16em" name="numberOfQuestions" [(ngModel)]="enrollment.numberOfQuestions" #numberOfQuestions="ngModel" required/>
       <div *ngIf="f.submitted && numberOfQuestions.invalid">
         <div *ngIf="numberOfQuestions.errors.required" class="input-group-text alert-danger">Number of questions is required</div>
       </div>
     </div>
   </div>

   <div class="form-group">
     <div class="input-group mb-3">
       <span class="input-group-text" style="width:20em;">Time for test</span>
       <input type="text" class="form-control" style="max-width: 16em" name="testTime" [(ngModel)]="enrollment.testTime" #testTime="ngModel" required/>
       <div *ngIf="f.submitted && testTime.invalid">
         <div *ngIf="testTime.errors.required" class="input-group-text alert-danger">Test time is required</div>
       </div>
     </div>
   </div>

   <button class="btn-primary">Submit</button>
 </form>

</div>
