.spec-list {
  text-align: center;
}

.spec-list a {
  display: inline-block;
  width: 25%;
  text-decoration: none;
  color: black;
}
.spec-list a:hover {
  cursor: pointer;
  left: .1em;
  background-color: lightcyan;
}
.spec-list a.active {
  color: black;
}
