<app-header></app-header>
<div class="jumbotron">
  <h1 class="display-4">Questions edit page</h1>
</div>
<div class="container-fluid">
  <div class="row">
<div class="col">

  <form name="form" (ngSubmit)="f.valid && getQuestions(selectedSpeciality)" #f="ngForm">
    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text">Select speciality</span>
        <select class="custom-select" style="max-width: 10em" name="speciality" [(ngModel)]="selectedSpeciality" #speciality="ngModel" required>
          <option *ngFor="let speciality of specialities">{{speciality}}</option>
        </select>
        <button class="btn-primary">Get questions</button>
      </div>
    </div>
  </form>

  <div class="input-group">
    <span class="input-group-text" style="width: 2.5em">Id</span>
    <span class="input-group-text" style="width: 4em">Type</span>
    <span class="input-group-text" style="width: 30em;">Question text</span>
    <span class="input-group-text" style="width: 13em;">Correct answer</span>
  </div>

  <div *ngFor="let question of questions; let i = index">

  <div class="input-group">
    <span class="form-control" style="max-width: 2.5em">{{question.id}}</span>
    <span class="form-control" style="max-width: 4.1em">{{question.type}}</span>
    <span class="form-control" style="max-width: 30em">{{question.text}}</span>
    <span class="form-control" style="max-width: 13.1em">{{question.correctAnswer}}</span>
    <button class="btn-primary" data-toggle="collapse" [attr.data-target]="'#collapse' + i">Edit</button>
    <button class="btn-primary" (click)="removeQuestion(question.id)">X</button>
  </div>

    <div class="collapse" id="collapse{{i}}">
      <div class="card card-body">
        <app-question-create [question]="question" [editing]="true"></app-question-create>
      </div>
    </div>

  </div>

</div>

    <div class="col">
      <button class="btn-primary" data-toggle="collapse" [attr.data-target]="'#newQuestion'">Add new question</button>
      <div class="collapse" id="newQuestion">
    <app-question-create class="card card-body"></app-question-create>
      </div>
    </div>
  </div>
</div>
