<app-header></app-header>
<div class="jumbotron">
  <h1 class="display-4">Test</h1>
  <p class="lead">Questions</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">

          <h5 class>Question #{{currentQuestion + 1}}</h5>
          <div class="progress">
            <div [ngStyle]="{'width.%':currentQuestion/(questions.length-1)*100}" class="progress-bar"
                 role="progressbar"></div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"> {{questions[currentQuestion].text}}</p>
          <div *ngIf="questions[currentQuestion].type === 'free'">
            <div class="input-group">
              <textarea [(ngModel)]="answers[currentQuestion].studentAnswer[0]" class="form-control" name="text"
                        type="text"></textarea>
            </div>
          </div>
          <div *ngIf="questions[currentQuestion].type === 'radio'">
            <div *ngFor="let answer of questions[currentQuestion].answers">
              <div class="input-group">
                <div class="input-group-text">
                  <input [(ngModel)]="answers[currentQuestion].studentAnswer[0]" [value]="answer"
                         name="{{currentQuestion}}" type="radio">
                </div>
                <span class="form-control" style="max-width: 30em">{{answer}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="questions[currentQuestion].type === 'check'">
            <div *ngFor="let answer of questions[currentQuestion].answers; index as i">
              <div class="input-group">
                <div class="input-group-text">
                  <input [(ngModel)]="checks[currentQuestion][i]" [checked]="updateAnswers()"
                         name="qwe{{i}}" type="checkbox">
                </div>
                <span class="form-control" style="max-width: 30em">{{answer}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="prevQuestion()" *ngIf="currentQuestion!=0" class="btn btn-secondary">Prev</button>
          <button (click)="nextQuestion()" *ngIf="currentQuestion!=questions.length-1" class="btn btn-secondary">Next
          </button>
          <button (click)="confirm=true" *ngIf="currentQuestion==questions.length-1 && !confirm"
                  class="btn btn-primary"
                  type="button">Submit
          </button>
          <button (click)="confirm=false" *ngIf="confirm" class="btn btn-secondary" type="button">No</button>
          <button (click)="submitAnswers()" *ngIf="confirm" class="btn btn-primary" type="button">Yes</button>
          <p *ngIf="confirm" class="alert alert-info">Are you sure?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-body sticky-top" style="max-width: 15em">
          <span class="input-group-lg input-group-text alert-danger">Time left {{testTime.mins}}
            :{{testTime.secs}}</span>
      </div>
    </div>
  </div>
</div>
