<app-header></app-header>
<div class="jumbotron">
  <h1 class="display-4">Welcome to NetCracker Test System!</h1>
  <p class="lead">Your first step towards joining our company</p>
</div>
<div class="container">
  <h5 class="text-center mb-4">Your chance to become a specialist!</h5>
  <p class="mb-4">Test system is a project built for testing students beforehand in order to have a first impression on
    each student
    aimed at joining our learning center
    <br>
    Before we talk to you personally we want to make sure you know the essentials of the subject you're picking.
    Choose
    one of three main specialities, fill your info, enroll and wait for a test! Make sure you're making a right
    decision, you can only pick one subject to learn.
  </p>
  <h6 class="text-center mb-4">Available courses</h6>
  <app-speciality-pad></app-speciality-pad>
</div>
