<app-header></app-header>
<div class="container">

  <h1>Admin board</h1>
  <div class="row">
    <p>Manage students</p>
    <a class="btn btn-primary" role="button" routerLink="../students">Manage</a>
  </div>
  <div class="row">
    <p>Manage enrollments</p>
    <a class="btn btn-primary" role="button" routerLink="../enrollments">Manage</a>
  </div>
  <div class="row">
    <p>Manage questions</p>
    <a class="btn btn-primary" role="button" routerLink="../questions">Manage</a>
  </div>
</div>
