<app-header></app-header>

<a *ngFor="let ectf of ectfs" routerLink="/enrollment/{{ectf.enrollment.id}}">

  <div class="card-deck">
  <p class="text-info">City: </p> {{ectf.city}}
  <p class="text-info">Speciality: </p> {{ectf.enrollment.speciality}}
  <p class="text-info">Application start: </p> {{ectf.enrollment.appStart | date}} end: {{ectf.enrollment.appEnd | date}}
  <p class="text-info">Test start: </p> {{ectf.enrollment.testStart | date}} end: {{ectf.enrollment.testEnd | date}}
  <p class="text-info">Created at: </p> {{ectf.enrollment.createdAt | date}}
  </div>
</a>

<a routerLink="/students">List of students</a>
