<div class="form-group">
  <div class="input-group mb-3">
    <span class="input-group-text">Search email</span>
    <input [(ngModel)]="searchText" placeholder="search text goes here">
  </div>
</div>

<div class="input-group">
  <span class="input-group-text" style="width: 5em">Passed</span>
  <span class="input-group-text" style="width: 16em">Email</span>
  <span class="input-group-text" style="width: 10em">Taken at</span>
</div>
<div *ngFor="let userTest of userTests| searchBox : searchText; let i = index">
  <div class="row">
    <div class="col-4">
      <div class="input-group">
        <span class="form-control" style="max-width: 5em">{{userTest.passed}}</span>
        <span class="form-control" style="max-width: 16em">{{userTest.email}}</span>
        <span class="form-control" style="max-width: 10em">{{userTest.takenAt.slice(0, 10)}}</span>
        <button (click)="showTest" [attr.data-target]="'#collapseTest' + i" class="btn btn-primary"
                data-toggle="collapse" type="button">Test
        </button>
      </div>
    </div>
    <div class="col-8">
      <div class="collapse" id="collapseTest{{i}}">
        <div class="card card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Correctness</th>
              <th scope="col">Question</th>
              <th scope="col">Answer</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answer of userTest.userAnswers; let i = index"
                [ngClass]="{'table-success' : answer.correct,'table-danger' : !answer.correct}">
              <th scope="row">{{i + 1}}</th>
              <td>{{answer.correct}}</td>
              <td>{{answer.question.text}}</td>
              <td>{{answer.studentAnswer}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
