<form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" name="form">

  <div class="form-group">
    <div *ngIf="f.form.valid && f.submitted" class="input-group-text alert-success">Valid</div>
  </div>


  <div *ngIf="!editing">
    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text" style="width:15em">City</span>
        <select #city="ngModel" [(ngModel)]="enrollment.city" class="custom-select" name="city" required
                style="max-width:16em">
          <option *ngFor="let city of cities">{{city}}</option>
        </select>
        <div *ngIf="f.submitted && city.invalid">
          <div *ngIf="city.errors.required" class="input-group-text alert-danger">City is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text" style="width:15em">Speciality</span>
        <select #speciality="ngModel" [(ngModel)]="enrollment.speciality" class="custom-select" name="speciality"
                required
                style="max-width:16em">
          <option *ngFor="let speciality of specialities">{{speciality}}</option>
        </select>
        <div *ngIf="f.submitted && speciality.invalid">
          <div *ngIf="speciality.errors.required" class="input-group-text alert-danger">Speciality is required</div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width:15em;">App start</span>
      <input #appStart="ngModel" [(ngModel)]="enrollment.appStart" [dropSpecialCharacters]="false" class="form-control"
             mask="0000-00-00"
             minlength="10"
             name="appStart" placeholder="YYYY-MM-DD" required style="max-width: 16em" type="text"/>
      <div *ngIf="f.submitted && appStart.invalid">
        <div *ngIf="appStart.errors.required || appStart.errors.minlength" class="input-group-text alert-danger">App
          start is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width:15em;">App end</span>
      <input #appEnd="ngModel" [(ngModel)]="enrollment.appEnd" [dropSpecialCharacters]="false" class="form-control"
             mask="0000-00-00"
             minlength="10"
             name="appEnd" placeholder="YYYY-MM-DD" required style="max-width: 16em" type="text"/>
      <div *ngIf="f.submitted && appEnd.invalid">
        <div *ngIf="appEnd.errors.required || appEnd.errors.minlength" class="input-group-text alert-danger">App end is
          required
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width:15em;">Test start</span>
      <input #testStart="ngModel" [(ngModel)]="enrollment.testStart" [dropSpecialCharacters]="false"
             class="form-control" mask="0000-00-00"
             minlength="10"
             name="testStart" placeholder="YYYY-MM-DD" required style="max-width: 16em" type="text"/>
      <div *ngIf="f.submitted && testStart.invalid">
        <div *ngIf="testStart.errors.required || testStart.errors.minlength" class="input-group-text alert-danger">Test
          start is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width:15em;">Test end</span>
      <input #testEnd="ngModel" [(ngModel)]="enrollment.testEnd" [dropSpecialCharacters]="false" class="form-control"
             mask="0000-00-00"
             minlength="10"
             name="testEnd" placeholder="YYYY-MM-DD" required style="max-width: 16em" type="text"/>
      <div *ngIf="f.submitted && testEnd.invalid">
        <div *ngIf="testEnd.errors.required || testEnd.errors.minlength" class="input-group-text alert-danger">Test end
          is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width:15em;">Number of questions in test</span>
      <input #numberOfQuestions="ngModel" [(ngModel)]="enrollment.numberOfQuestions" class="form-control"
             name="numberOfQuestions"
             required style="max-width: 16em" type="text"/>
      <div *ngIf="f.submitted && numberOfQuestions.invalid">
        <div *ngIf="numberOfQuestions.errors.required" class="input-group-text alert-danger">Number of questions is
          required
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width:15em;">Time for test</span>
      <input #testTime="ngModel" [(ngModel)]="enrollment.time" class="form-control" name="testTime" required
             style="max-width: 16em" type="text"/>
      <div *ngIf="f.submitted && testTime.invalid">
        <div *ngIf="testTime.errors.required" class="input-group-text alert-danger">Test time is required</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text" style="width:15em;">Test threshold</span>
      <input #testThreshold="ngModel" [(ngModel)]="enrollment.threshold" class="form-control" name="testTime" required
             style="max-width: 16em" type="text"/>
      <div *ngIf="f.submitted && testTime.invalid">
        <div *ngIf="testThreshold.errors.required" class="input-group-text alert-danger">Test threshold is required
        </div>
      </div>
    </div>
  </div>

  <button class="btn-primary">Submit</button>
</form>
