<app-header></app-header>
<div class="container">
  <h1>Student tests</h1>
  <div *ngFor="let userTest of userTests; let i = index">
    <div class="row">
      <div class="col-4">
        <ul class="list-group">
          <li class="list-group-item">
            User:{{userTest.email}}
            <button class="btn btn-primary" type="button" data-toggle="collapse"
                    [attr.data-target]="'#collapseInfo' + i">Info
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse"
                    [attr.data-target]="'#collapseTest' + i">Test
            </button>
          </li>
          <div class="collapse" id="collapseInfo{{i}}">
            <div class="card card-body">
              <p>Passed: {{userTest.passed}}</p>
              <p>Taken at: {{userTest.takenAt}}</p>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-8">
        <div class="collapse" id="collapseTest{{i}}">
          <div class="card card-body">
            <div class="row" *ngFor="let answer of userTest.userAnswers"
                 [ngClass]="{'bg-success text-white' : answer.correct,'bg-danger text-white' : !answer.correct}">
              <div class="col">
                <p>{{answer.correct}}</p>
              </div>
              <div class="col">
                <p>{{answer.question.text}}</p>
              </div>
              <div class="col">
                <p>{{answer.studentAnswer}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
