<app-header></app-header>
<div class="container">

  <h1>Admin board</h1>
  <div class="row">
    <p>Manage students</p>
      <a class="btn btn-primary" routerLink="../students" role="button">Manage</a>
  </div>
  <div class="row">
    <p>Manage enrollments</p>
    <a class="btn btn-primary" routerLink="../enrollments" role="button">Manage</a>
  </div>
  <div class="row">
    <p>Manage questions</p>
    <a class="btn btn-primary" routerLink="../questions" role="button">Manage</a>
  </div>
</div>
