<p>Speciality: {{ectf.enrollment.speciality}}</p>
<p>Application start: {{ectf.enrollment.appStart | date}} end: {{ectf.enrollment.appEnd | date}}</p>
<p>Test start: {{ectf.enrollment.testStart | date}} end: {{ectf.enrollment.testEnd | date}}</p>
<p>Created at: {{ectf.enrollment.createdAt | date}}</p>
<p>City: {{ectf.city}}</p>
<p>Test format:</p>
<label for="numberOfQuestions"> Number of questions:
  <input id="numberOfQuestions" type="text" [(ngModel)]="ectf.testFormat.numberOfQuestions">
</label>
<label for="time"> Time:
  <input id="time" type="text" [(ngModel)]="ectf.testFormat.time">
</label>
<button (click)="updateEnrollment()"> Update enrollment </button>
