<app-header></app-header>

<div class="jumbotron">
  <h1 class="display-4">Profile</h1>
  <p class="lead">Your info and status</p>
</div>

<div class="col-sm-6" style="width:50em;">
   <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

     <div class="form-group">
       <div class="input-group mb-3">
         <span class="input-group-text" style="width:8em">First Name</span>
       <input type="text" class="form-control" style="max-width:22em" name="firstName" [(ngModel)]="userInfo.firstName" #firstName="ngModel"
              required/>
         <div *ngIf="f.submitted && firstName.invalid">
           <div *ngIf="firstName.errors.required" class="input-group-text alert-danger">First Name is required</div>
         </div>
       </div>

     </div>

     <div class="form-group">
       <div class="input-group mb-3">
         <span class="input-group-text" style="width:8em">Last Name</span>
         <input type="text" class="form-control" style="max-width:22em" name="lastName" [(ngModel)]="userInfo.lastName" #lastName="ngModel"
                required/>
         <div *ngIf="f.submitted && lastName.invalid">
           <div *ngIf="lastName.errors.required" class="input-group-text alert-danger">Last Name is required</div>
         </div>
       </div>

     </div>

     <div class="form-group">
       <div class="input-group mb-3">
         <span class="input-group-text" style="width:8em">City</span>
         <select class="custom-select" style="max-width:22em" name="city" [(ngModel)]="userInfo.city" #city="ngModel"
                 required>
           <option *ngFor="let ccity of cities">{{ccity}}</option>
         </select>
         <div *ngIf="f.submitted && city.invalid">
           <div *ngIf="city.errors.required" class="input-group-text alert-danger">City is required</div>
         </div>
       </div>

     </div>

     <div class="form-group">
       <div class="input-group mb-3">
         <span class="input-group-text" style="width:8em">Phone</span>
         <input type="text" class="form-control" style="max-width:22em" name="phone" [(ngModel)]="userInfo.phone" #phone="ngModel"
                required/>
         <div *ngIf="f.submitted && phone.invalid">
           <div *ngIf="phone.errors.required" class="input-group-text alert-danger">Phone is required</div>
         </div>
       </div>

     </div>

     <div class="form-group">
       <div class="input-group mb-3">
         <span class="input-group-text" style="width:8em">Grade</span>
         <input type="text" class="form-control" style="max-width:22em" name="grade" [(ngModel)]="userInfo.grade" #grade="ngModel"
                required/>
         <div *ngIf="f.submitted && grade.invalid">
           <div *ngIf="grade.errors.required" class="input-group-text alert-danger">Grade is required</div>
         </div>
       </div>

     </div>

     <div class="form-group">
       <div class="input-group mb-3">
         <span class="input-group-text" style="width:8em">University</span>
         <input type="text" class="form-control" style="max-width:22em" name="university" [(ngModel)]="userInfo.university" #university="ngModel"
                required/>
         <div *ngIf="f.submitted && university.invalid">
           <div *ngIf="university.errors.required" class="input-group-text alert-danger">University is required</div>
         </div>
       </div>

     </div>

     <div class="form-group">
       <div class="input-group mb-3">
         <span class="input-group-text" style="width:8em">Department</span>
         <input type="text" class="form-control" style="max-width:22em" name="department" [(ngModel)]="userInfo.department" #department="ngModel"
                required/>
         <div *ngIf="f.submitted && department.invalid">
           <div *ngIf="department.errors.required" class="input-group-text alert-danger">Department is required</div>
         </div>
       </div>

     </div>

     <div class="form-group">
       <div class="input-group">
         <span class="input-group-text" style="width:8em">Speciality</span>
         <input type="text" class="form-control" style="max-width:22em" name="speciality" [(ngModel)]="userInfo.speciality" #speciality="ngModel"
                required/>
         <div *ngIf="f.submitted && speciality.invalid">
           <div *ngIf="speciality.errors.required" class="input-group-text alert-danger">Speciality is required</div>
         </div>
       </div>
     </div>

     <div class="form-group">
       <button class="btn btn-primary">Update info</button>
     </div>
   </form>
 </div>

