<app-header></app-header>
<div class="container">

  <h1>Your Info</h1>
  <div class="row">
    <div class="col-sm-4">
      <form (ngSubmit)="submitUserInfo()" #userInfoForm="ngForm">

        <div class="form-group">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="userInfo.firstName" name="firstName"
                 #firstName="ngModel" required>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
               class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
              First name is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="userInfo.lastName" name="lastName"
                 #lastName="ngModel" required>
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
               class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
              Last name is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="userInfo.city" name="city"
                 #city="ngModel" required>
          <div *ngIf="city.invalid && (city.dirty || city.touched)"
               class="alert alert-danger">
            <div *ngIf="city.errors.required">
              City is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="userInfo.phone" name="phone"
                 #phone="ngModel" required>
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
               class="alert alert-danger">
            <div *ngIf="phone.errors.required">
              Phone is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="grade">Grade</label>
          <input type="text" class="form-control" id="grade" [(ngModel)]="userInfo.grade" name="grade">
        </div>

        <div class="form-group">
          <label for="university">University</label>
          <input type="text" class="form-control" id="university" [(ngModel)]="userInfo.university" name="university">
        </div>

        <div class="form-group">
          <label for="department">Department</label>
          <input type="text" class="form-control" id="department" [(ngModel)]="userInfo.department" name="department">
        </div>

        <div class="form-group">
          <label for="speciality">Speciality</label>
          <input type="text" class="form-control" id="speciality" [(ngModel)]="userInfo.speciality" name="speciality">
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!userInfoForm.form.valid">Submit</button>

      </form>
    </div>

  </div>
</div>
