<app-header></app-header>
<div class="jumbotron">
  <h1 class="display-4">Student information</h1>
  <p class="lead">{{userInfo.firstName}} {{userInfo.lastName}}</p>
</div>
<div class="container-fluid">
<div class="row">

  <div class="col-sm-6">
<p class="text-info"> City : </p> {{userInfo.city}}
<p class="text-info"> Phone : </p> {{userInfo.phone}}
<p class="text-info"> Grade : </p> {{userInfo.grade}}
  <p class="text-info"> University : </p> {{userInfo.university}}
  <p class="text-info"> Department : </p> {{userInfo.department}}
  <p class="text-info"> Speciality : </p> {{userInfo.speciality}}
  </div>

  <div class="col-lg-6">
  <h2 class="display-5">Test information</h2>
  <div *ngFor="let question of testInfo">
    <p class="text-info"> Question test : </p> {{question.text}}
    <p class="text-info"> Student answer : </p> {{question.userAnswer}}
    <p class="text-info"> Correct answer : </p> {{question.answers[0]}}
  </div>
  </div>

</div>
</div>
